<h1>Click a Department To View Content</h1>
<%= link_to "Create a new department", new_department_path %>
<ul>
  <% @departments.each do |dep| %>
    <li><%= link_to dep.name, dep %></li>
  <% end %>
</ul>